@font-face {
    font-family: quest;
    src: url(../fonts/quest.ttf);
}

body {
    margin: 0;
    background-color:black;
    color: rgb(49, 244, 49);
}

.MainContainer{
    border-style: solid;
    border-color: red;
    width:35%;
    height:100vh;
    display:flex;
    flex-direction: column;
    float:left;

}
.WeaponContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.HelmContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.ChestContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.ArmContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.WaistContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.LegContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;


}
.CharmContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.ResultContainer{
    border-style: solid;
    border-color: red;
    width:60%;
    height:100vh;
    display:flex;
    flex-direction: column;
    float:right;

}
.AttackContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}
.DefenseContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;

}