@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    margin: 0;
    background-color:black;
    color: rgb(112, 169, 88);
    font-family: 'Roboto Slab', serif;
}

.MainContainer{
    border-style: solid;
    border-color: red;
    width:35%;
    height:100vh;
    display:flex;
    flex-direction: column;
    float:left;
    padding-left:30px

}

.MainContainerText{


}

.WeaponContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.WeaponContainerContents{
    display:inline-block;
    padding-left:30px

}

.HelmContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.HelmContainerContents{
    display:inline-block;
    padding-left:30px

}

.ChestContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.ChestContainerContents{
    display:inline-block;
    padding-left:30px

}
.ArmContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.ArmContainerContents{
    display:inline-block;
    padding-left:30px

}

.WaistContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.WaistContainerContents{
    display:inline-block;
    padding-left:30px

}

.LegContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.LegContainerContents{
    display:inline-block;
    padding-left:30px
}

.CharmContainer{
    font-size: 18px;
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
}

.CharmContainerContents{
    display:inline-block;
    padding-left:30px
}

.DecorationContainer{
    float:right;
}

.ResultContainer{
    border-style: solid;
    border-color: red;
    width:55%;
    height:100vh;
    display:flex;
    flex-direction: column;
    float:right;
    padding-left:30px

}

.AttackContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
    padding-left:30px

}

.DefenseContainer{
    border-style: solid;
    border-color: blue;
    flex: 1 0 auto;
    padding-left:30px

}

img{
    height:20px;
    width:20px;
}
